<!--**********************************
            Footer start
        ***********************************-->
<div class="footer">

  <div class="copyright">
    <p><strong>Restaurant Admin Dashboard</strong>
      © 2022 All Rights Reserved</p>
    <p>Made with <i class="fa fa-heart"></i> by WebLaud</p>
  </div>

</div>
<!--**********************************
            Footer end
        ***********************************-->