<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Davur - Restaurant Food Order Bootstrap Admin Dashboard</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/dashboard/images/favicon.png" />
  <link href="/dashboard/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/dashboard/vendor/chartist/css/chartist.min.css" />
  <link
    href="/dashboard/vendor/bootstrap-select/dist/css/bootstrap-select.min.css"
    rel="stylesheet"
  />
  <link href="/dashboard/css/style.css" rel="stylesheet" />
  <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />
  <link href="/dashboard/vendor/summernote/summernote.css" rel="stylesheet">

  {{!-- <script src="https://cdn.tiny.cloud/1/y36hisdtdujsfvjz85tb5aoeounhe8bkael1aza0g1r3146s/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script> --}}

  <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
</head>