<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Davur - Restaurant Food Order Bootstrap Admin Dashboard</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/dashboard/images/favicon.png" />
  <link href="/dashboard/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/dashboard/vendor/chartist/css/chartist.min.css" />
  <link
    href="/dashboard/vendor/bootstrap-select/dist/css/bootstrap-select.min.css"
    rel="stylesheet"
  />
  <link href="/dashboard/css/style.css" rel="stylesheet" />
  <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />

</head>