<!--**********************************
            Footer start
        ***********************************-->
<div class="footer">
  <div class="copyright">
    <h4>Copyright © Designed &amp; Developed by
      <a href="http://dexignzone.com/" target="_blank">DexignZone</a>
      2020</h4>
  </div>
</div>
<!--**********************************
            Footer end
        ***********************************-->