<!DOCTYPE html>
<html lang="en">

{{>dashHead}}
<body>
  {{{toasts}}}

    <div id="main-wrapper">

     {{>dashHeader}}
       
		  {{>dashSidebar}}
		
      {{{body}}}
      
  {{>dashFooter}}
    </div>
   {{>dashScript}}
</body>
</html>