<!DOCTYPE html>
<html lang="en">

{{>dashHead}}

<body>

  <!-- ======= Header ======= -->
  {{>dashHeader}}
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  {{>dashSidebar}}
  <!-- End Sidebar-->

  <!-- End #main -->
  {{{body}}}

  <!-- ======= Footer ======= -->
  {{>dashFooter}}
  <!-- End Footer -->

  

  <!-- Vendor JS Files -->
{{>dashScript}}

</body>

</html>